
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 2em;
  margin-top: 1em;
  text-align: center;
}

.header1 {
  margin-left: 0.5em;
  color: rgba(255, 255, 255, 0.85);
}

.hide{
  display: none;
  height: 0;
}