html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.block_color {
  background-color: rgba(15, 15, 15, 0.6);;
}

.ant-tabs-nav-animated {
  float: left;
}

.ant-tabs-nav .ant-tabs-tab{
  color: rgba(255, 255, 255, 0.85);
}

.ant-tabs-nav .ant-tabs-tab-active{
  color: rgba(255, 255, 255, 0.85) !important;
}

.ant-breadcrumb a {
  color: rgba(255, 255, 255, .9) !important;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.ant-breadcrumb-separator {
  margin: 0 8px;
  color: rgba(255,255, 255, .9) !important;
}