
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background-color: rgba(15, 15, 15, 1);
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  min-width: 1280px;
  max-width: 1440px;
}
.header {
  margin-bottom: 1em;
  border-radius: 5px;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.bg{
  background-color: rgba(15, 15, 15, 1);
  height: 100%;
}

.hsearch {
  display: inline-block;
  width: 200px;
  padding-left: 2em
}

.content {
  /* margin-left: 5px;
  margin-right: 5px; */
  border-radius: 5px;
}

.footer {
  margin-top: 12px;
}

.block_color {
  background-color: rgba(15, 15, 15, 0.6);
}

.logo {
  height: 48px;
  background: url(../assets/logo.png) no-repeat left 0;
  background-size: 100px 48px;
  width: 100px;
  margin-right: 2em
}